@import "bootstrap.css";
@import "bootstrap-theme.min.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@default-width: 980px;


.box-shadow(@style, @c) when (iscolor(@c)) 
{
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
  box-shadow:         @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) 
{
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box-sizing (@type: border-box) 
{
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.transition (@transition) 
{
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.column-count (@cc)
{
	-webkit-column-count: @cc;
	-moz-column-count:	  @cc;
	column-count:		  @cc;
}

@tr-height: 38px;

//colors
//tags
@lightblue: #ADD8E6;
@lightcoral: #F08080;
@lightgreen: #90EE90;
@lightsteelblue: #B0C4DE;
@lightpink: #FFB6C1;
@lightsalmon: #FFA07A;
@lightseagreen: #20B2AA;
@lightslategray: #778899;
@lightgray: #D3D3D3;

//projects
@project1: #66CDAA;
@project2: #7B68EE;
@project3: #FF4500;
@project4: #000080;
@project5: #DC143C;
@project6: #FFD700;
@project7: #BDB76B;
@project8: #8B008B;
@project9: #808000;

html { body 
{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: black;

	/* Header - start */
	.header
	{
		width: @default-width;
		height: 88px;
		background-color: #ebebeb;
		margin: 0 auto;
		padding: 10px;
		.box-sizing(border-box);

		h1 
		{
			width: 120px;
			display: inline-block;		
		}

		.nav
		{
			display: inline-block;
			margin-left: 50px;
			vertical-align: middle;
		}
	}
	/* Header - end */


	/* Content - start */

	.content
	{
		background-color: #ebebeb;
		max-width: @default-width;
		margin: 0 auto;
		padding: 10px;
		box-sizing: border-box;

		.time
		{
			width: 100px;
			display: inline-block;
			padding: 0 10px;
			text-align: right;			
		}

		.tasks
		{
			margin-top: 30px;

			tr.task
			{
				height: @tr-height;

				&.active
				{
					background: khaki;
				}

				&:not(.active) .edited
				{
					cursor: pointer;

					&:hover
					{
						background: plum;
						color: #fff;
					}
				}
			}

			.line 
			{
				height: 5px;
				background: lightgrey;
			}

			th
			{
				width: 100px;
			}

			td
			{
				text-align: center;
				white-space: nowrap;

				&.desc
				{
					position: relative;

					.name
					{
						padding: 6px 5px;
						box-sizing: border-box;
						margin: 3px 0;
						border-radius: 5px;
					}

					.input_desc
					{
						width: 100%;
						position: absolute;
						top: 4px;
						background: khaki;
						padding: 3px 10px;
						box-sizing: border-box;
						border-radius: 5px;
						left: 0;
						border: 1px solid darkgray;

						input
						{
							width: 100%;
							padding: 0 3px;
							box-sizing: border-box;
						}
					}
				}
			}

			td.project
			{
				position: relative;

				.name 
				{	
					padding: 6px 10px;
					color: #fff;
					border-radius: 5px;

					&.project1 {background: @project1;}
					&.project2 {background: @project2;}
					&.project3 {background: @project3;}
					&.project4 {background: @project4;}
					&.project5 {background: @project5;}
					&.project6 {background: @project6;}
					&.project7 {background: @project7;}
					&.project8 {background: @project8;}
					&.project9 {background: @project9;}
				}

				.project-select2
				{
					position: absolute;
					left: -50%;
					top: 3px;
					padding: 2px 10px;
					background: khaki;
					border-radius: 5px;
					border: 1px solid darkgray;
					margin-left: 16px;
				}
			}

			td .tags 
			{
				position: relative;
				height: @tr-height;
				border-radius: 5px;

				.tags-select2
				{
					position: absolute;
					left: 0;
					top: 0;
					padding: 1px 10px;
					background: khaki;
					border-radius: 5px;
					border: 1px solid darkgray;
					width: 100%;
					z-index: 1;
				}

				span.tag 
				{
					border-radius: 5px;
					padding: 2px 8px;
					margin: 0 3px;
					color: #fff;
					display: inline-block;
					margin-top: 7px;

					&.lightblue {background: @lightblue;}
					&.lightcoral {background: @lightcoral;}
					&.lightgreen {background: @lightgreen;}
					&.lightsteelblue {background: @lightsteelblue;}
					&.lightpink {background: @lightpink;}
					&.lightsalmon {background: @lightsalmon;}
					&.lightseagreen {background: @lightseagreen;}
					&.lightslategray {background: @lightslategray;}
					&.lightgray {background: @lightgray;}
				}

			}
		}

		.select2
		{
			display: inline-block;
		}

		.select2-container 
		{
			width: 200px;
		}
	}

	/* Content - end */

	/* Summary-report - start */

	.summary-report 
	{
		.content;

		.filters
		{
			margin-bottom: 20px;
			
			.period
			{
				display: inline-block;
			}
			
			.filter
			{
				margin-right: 20px;
			}			
		}

		.projects-detailed {
			margin-top: 30px;
			width: 33%;
			display: inline-block;
			vertical-align: top;

			.projects-list
			{
				.panel-heading
				{
					padding: 5px 10px;
					background: #fff;
					border-bottom: 1px solid #ccc;
				}

				.panel-body
				{
					padding: 10px;
					background: #eee;

					.task-desc,
					.sum-desc
					{
						width: 75%;
						display: inline-block;
						padding-left: 5px;
					}

					.sum
					{
						background: #ccc;
					}
				}
			}
		}

		.projects-detailed-drilldown-pie
		{
			display: inline-block;
			width: 66%;
			height: 600px;
			margin-top: 30px;
		}

		.sum-time-tags-list
		{
			.column-count(3);

			.sum-time-tag
			{
				width: 300px;
				padding: 6px;
				color: #fff;

				&.lightblue {background: @lightblue;}
				&.lightcoral {background: @lightcoral;}
				&.lightgreen {background: @lightgreen;}
				&.lightsteelblue {background: @lightsteelblue;}
				&.lightpink {background: @lightpink;}
				&.lightsalmon {background: @lightsalmon;}
				&.lightseagreen {background: @lightseagreen;}
				&.lightslategray {background: @lightslategray;}
				&.lightgray {background: @lightgray;}
			}
		}
	}

	/* Summary-report - end */

	/* Weekly-report - start */

	.weekly-report 
	{
		.content;

		.filters
		{
			margin-bottom: 20px;
		}

		.week-table
		{
			.table-header
			{
				.none
				{
					display: inline-block;
					width: 10%;
				}

				.week
				{
					display: inline-block;
					width: 89%;

					.week-day,
					.week-sum
					{
						display: inline-block;
						margin: 10px;
						width: 9%;
						text-align: center;
					}
				}

			}

			.project-line,
			.sum-by-day
			{
				padding-left: 10px;

				&:nth-child(even) 
				{
					background: #ddd;
				}

				.project-name,
				.sum-label
				{
					display: inline-block;
					width: 10%;
				}

				.project-week,
				.week-line
				{
					list-style: none;
					margin: 0;
					display: inline-block;
					width: 89%;

					.project-day,
					.project-sum,
					.sum-day,
					.sum-week
					{
						display: inline-block;
						width: 9%;
						text-align: center;
						padding: 10px;
					}

					.project-sum
					{
						background: #bbb;
					}
				}
			}

			.sum-by-day
			{
				background: #ccc;

				.sum-week
				{
					background: #aaa;
				}
			}
		}
	}

	/* Weekly-report - end */

	/* Footer - start */

	.footer
	{
		height: 68px;
		max-width: @default-width;
		margin: 0 auto;	
	}

	/* Footer - end */

}}

 /* Landscape - telefony */
@media (max-width: 480px) {  }

/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) {  }

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Большой дисплей */
@media (min-width: 1200px) {  }