<!DOCTYPE html>
					  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Timer</title>

	<link rel="stylesheet/less" type="text/css" href="./css/styles.less" />
	<link rel="stylesheet" type="text/css" href="./js/select2-3.4.5/select2.css" />

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="./js/underscore.js" type="text/javascript"></script>
	<script src="./js/backbone.js" type="text/javascript"></script>
	<script src="./js/less-1.6.1.min.js" type="text/javascript"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/select2-3.4.5/select2.js"></script>

	<script src="./js/models/task.js"></script>
	<script src="./js/models/project.js"></script>
	<script src="./js/models/tag.js"></script>
	<script src="./js/helper.js"></script>

	<script src="./js/index.js"></script>

	<script src="./js/views/task_list.js"></script>

	<script>
		//Loading Bootstrapped Models
		var tags = new Tags();
		tags.reset(<?php echo($tags); ?>);

		var projects = new Projects();
		projects.reset(<?php echo($projects); ?>);

		var tasks = new Tasks();
		tasks.reset(<?php echo($tasks); ?>);		
	</script>

	<!-- <link rel="stylesheet" type="text/css" href="./css/main.css" /> -->
	<link rel="stylesheet" type="text/css" href="./css/styles.css" />
	<!-- <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" /> -->


</head>

<body>

	<div class="header clearfix">
		<h1>Timer</h1>
	</div>


	<div class="content" id="timer">

		<div class="main">
			<input type="task" class="task" placeholder="Enter task">
			<div class="select2" id="projects"></div>

			<span class="time"></span>

			<button type="submit" class="btn start btn-default">Start</button>
			<button type="submit" class="btn pause btn-default">Pause</button>

			<div class="select2" id="tags"></div>
		</div>

		<script type="text/template" id="task-list-template">
		<table>
		  <thead>
		    <tr>
		      <th>Date</th>
		      <th>Desc</th>
		      <th>Time</th>
		      <th>Time / ms</th>
		      <th>Project</th>
		      <th>Start</th>
		      <th>Delete</th>
		      <th>Tags</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% _.each(tasks.reverse(), function(task) { %>
		      <tr class="task task<%= task.get('id') %> <%= task.get('active') && 'active' %>" id="<%= task.get('id') %>">
		        <td><%= task.get('date') %></td>
		        <td class="desc"><div class="name edited"><%= task.get('desc') %></div></td>
		        <td><%= task.get('time_str') %></td>
		        <td><%= task.get('time') %></td>
		        <td class="project">
		        	<div class="name edited <%= colors['projects'][projects.get(task.get('project_id')).get('color')] %>" task_id="<%= task.get('id') %>"><%= projects.get(task.get('project_id')).get('name') %></div>
		        </td>
		        <td><button type="submit" class="btn start btn-default <%= task.get('active') && 'hide' %>">Start</button></td>
		        <td><button type="submit" class="btn delete btn-default">Delete</button></td>
		        <td>
		        	<div class="tags edited" task_id="<%= task.get('id') %>">
			        	<% _.each(task.get('tags_ids_arr'), function(tag_id) { %>
			        		<span class="tag <%= colors['tags'][tags.get(tag_id).get('color')] %>"><%= tags.get(tag_id).get('name') %></span>
			        	<% }); %>
		        	</div>
		        </td>


		      </tr>
		    <% }); %>
		    <% tasks.reverse(); %>
		  </tbody>
		</table>
		</script>

		<div class="tasks"></div>

	</div>

	<div class="footer">

	</div>

</body>
</html>