<script type="text/template" id="sum-time-tags-template">

<h3>Summary tags time list</h3>
<span>time / average time by day</span>

<div class="sum-time-tags-list">

	<% _.each(tags.models, function(tag, key) { %>

		<% if (sum_time_tags[tag.get('id')]) { %>

			<div class="sum-time-tag <%= colors['tags'][tag.get('color')] %>">
				<span class=""><%= tag.get('name') %> - </span>
				<span class=""><%= msToTime(sum_time_tags[tag.get('id')].time) %></span>
				<span class="">/ <%= msToTime(sum_time_tags[tag.get('id')].time_average) %></span>
			</div>

		<% } %>

	<% }); %>

</div>


</script>