<script type="text/template" id="week-table-template">

<div class="week-table">

	<div class="table-header">
		<div class="none"></div>
		<div class="week">
			<div class="week-day">Mon</div>
			<div class="week-day">Tue</div>
			<div class="week-day">Wed</div>
			<div class="week-day">Thu</div>
			<div class="week-day">Fri</div>
			<div class="week-day">Sat</div>
			<div class="week-day">Sun</div>
			<div class="week-sum">Sum</div>
		</div>
	</div>

	<% _.each(week, function(project, key) { %>

		<div class="project-line">

			<a class="project-name" data-toggle="collapse" href="#<%= key %>"><%= projects.get(key).get('name') %></a>

			<ul class="project-week">

				<% _.each(project.week, function(day, k) { %>
					<% if (day.time != 0) { %>

						<li class="project-day">
							<%= msToTime(day.time) %>

							<div class="clock-popup">
								<svg>
									<circle cx="100" cy="100" r="100" fill="#4ec6e4"></circle>
								  	<circle cx="320" cy="100" r="100" fill="#4ec6e4"></circle>

									<% _.each(day.periods, function(period, k) { %>
										<%= getPath(period, getProjectColor(projects.get(key).get('color'))) %>
									<% }); %>
								</svg>
							</div>
						</li>

					<% } else { %>
						<li class="project-day"></li>
					<% } %>
				<% }); %>

				<li class="project-sum">
					<%= msToTime(project.sum.time) %>
				</li>

			</ul>

			<div id="<%= key %>" class="project-tasks-list collapse">
				<% _.each(project.sum_by_tasks, function(task, key) { %>
					<div class="project-task">
						<span class="project-task-desc"><%= key %></span>

						<div class="project-task-line">
						<% for (var i = 1; i < 8; i++) { %>

							<% if (project.week[i].detailed) { %>
								<% if (project.week[i].detailed[key]) { %>
									<span class="project-task-time"><%= msToTime(project.week[i].detailed[key].time) %></span>
								<% } else { %>
									<span class="project-task-time"></span>
								<% } %>
							<% } else { %>
								<span class="project-task-time"></span>
							<% } %>

						<% } %>

							<span class="project-task-sum"><%= msToTime(task.time) %></span>

						</div>
					</div>
				<% }); %>
			</div>

		</div>

	<% }); %>

	<div class="sum-by-day">
		<div class="sum-label">sum</div>

		<div class="week-line">
			<% _.each(sum_by_day, function(day, key) { %>

				<div class="sum-day">
					<% if (day.time != 0) { %>

						<%= msToTime(day.time) %>

					<% } %>
				</div>

			<% }); %>

			<div class="sum-week">
				<%= msToTime(sum_week) %>
			</div>

		</div>

	</div>

</div>

</script>