
{% include 'header.html' %}

	<div class="content" id="timer">

		<div class="main">
			<div class="row">
				<input type="task" class="task" placeholder="Enter task">
				<div class="select2 project-name" id="projects"></div>

				<span class="time"></span>

				<button type="submit" class="btn start btn-primary">Start</button>

				<div class="select2 tags-list" id="tags"></div>
			</div>
			<div class="row">
				<input type="task" class="task search-task" placeholder="Search task by desc for quick start">
			</div>
		</div>

		<script type="text/template" id="task-list-template">
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Desc</th>
					<th>Time</th>
					<th>Project</th>
					<th>Start</th>
					<th>Delete</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody>

				<% _.each(tasks.reverse(), function(task, key) { %>
					<% if ((task.get('time') > 0) && (!task.get('search'))) { %>
						<tr class="task task<%= task.get('id') %> <%= task.get('status') == 1 && 'active' %>" id="<%= task.get('id') %>">
						<td><%= task.get('date') %></td>
						<td class="desc"><div class="name edited"><%= task.get('desc') %></div></td>
						<td><%= task.get('time_str') %></td>
						<td class="project">
							<div class="name edited <%= colors['projects'][projects.get(task.get('project_id')).get('color')] %>" task_id="<%= task.get('id') %>"><%= projects.get(task.get('project_id')).get('name') %></div>
						</td>
						<td><button type="submit" class="btn start btn-default <%= task.get('status') == 1 && 'hide' %>">Start</button></td>
						<td><button type="submit" class="btn delete btn-default">Delete</button></td>
						<td>
							<div class="tags edited" task_id="<%= task.get('id') %>">
								<% _.each(task.get('tags_ids_arr'), function(tag_id) { %>
									<span class="tag <%= colors['tags'][tags.get(tag_id).get('color')] %>"><%= tags.get(tag_id).get('name') %></span>
								<% }); %>
							</div>
						</td>


						</tr>


						<% if (key+1 < tasks.length) if ((tasks[key].get('date') != tasks[key + 1].get('date')) && !tasks[key + 1].get('search')) { %> 
							<tr class="line"><td colspan="7"></td></tr> 
						<% } %>
					<% } %>
				<% }); %>
				<% tasks.reverse(); %>

			</tbody>
		</table>
		<button type="submit" class="btn more btn-success">more</button>
		</script>

		<div class="tasks"></div>

		<div class="spin">loading...</div>

	</div>

{% include 'footer.html' %}