{% include 'header.html' %}

<div class="summary-report">
	
	<div class="filters" id="filters">
		<div class="period">
			<input type="text" id="from" name="from">
			<input type="text" id="to" name="to">
		</div>
		<button class="filter">Filter</button>
	</div>

	<div id="summary-report-bar" style="max-width: 100%; height: 300px; margin: 0 auto"></div>

	<div class="projects-detailed"></div>

	<div class="projects-detailed-drilldown-pie"></div>


	{% include 'blocks/projects_detailed.html' %}

</div>

{% include 'footer.html' %}